@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-monospace">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <a asp-controller="Component" asp-action="ComponentIndex" type="button" class="btn btn-dark btn-lg" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title"><i class="bi bi-gpu-card"></i> Components</a>
        <button type="button" class="btn btn-danger btn-lg" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title"><i class="bi bi-bag-heart-fill"></i> Orders</button>
        <button type="button" class="btn btn-success btn-lg" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title"><i class="bi bi-amazon"></i> Shop</button>
        <button type="button" class="btn btn-info btn-lg" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title"><i class="bi bi-box-fill"></i> Inventory</button>
        <button type="button" class="btn btn-warning btn-lg" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title"><i class="bi bi-currency-exchange"></i> Finances</button>
        <a asp-controller="Coupon" asp-action="CouponIndex" class="btn btn-primary btn-lg" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Coupons"><i class="bi bi-receipt"></i> Coupons</a>


        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="~/images/image-asset.gif" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="~/images/alexandre-etendard-360.gif" class="d-block w-50" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="~/images/about4.gif" class="d-block w-25" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="card-group mt-5">
        <div class="card border-dark-subtle m-2">
            <img src="~/images/c106ad08-24b4-4d2e-88ee-632d9635faeb.jpg" class="card-img-top" alt="...">
            <div class="card-body bg-light-subtle">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card border-dark-subtle m-2">
            <img src="~/images/hayden-arthur-pc-render.jpg" class="card-img-top" alt="...">
            <div class="card-body bg-light-subtle">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card border-dark-subtle m-2 ">
            <img src="~/images/e9e8fa22b6ea44fc8df14eb564908401.jpg" class="card-img-top" alt="...">
            <div class="card-body bg-light-subtle">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>
